<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/camera-2519-715090.png"/>
	<title>Image Gallery - Vasu Goel</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/image-gallery.css">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <div class="container">

    <a class="navbar-brand" href="/">
   	<span style="font-size: 1.5rem">
    <i class="fas fa-image"></i></span>
    Vasu
 	</a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  	<div class="dropdown-divider"></div>
	    <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <a href="/portfolio" class="nav-link">Portfolio</a>
	        </li>
	    </ul>
    </div>
</nav>

<!-- JUMBOTRON -->

	<div class="container">
		<div class="jumbotron">
			<h1><span style="font-size: 4rem">
				<i class="fas fa-camera-retro" id="camera"></i></span>
				Image Gallery
			</h1>
			<hr class="my-4">
			<p>A bunch of beautiful images that I didn't take.</p>
			<button type="button" class="btn btn-outline-primary">Learn More</button>
		</div>
	</div>

<!-- IMAGE GRID -->

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1508669232496-137b159c1cdb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e05e923eadbc20a00da3a1a441dd3e3&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1518128958364-65859d70aa41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=df90aec8aaec700a402790e4799d226e&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1517030330234-94c4fb948ebc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=26c23009084b5f63243b7c62807169ed&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1509316975850-ff9c5deb0cd9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28f9a1a0be65067d877bd730ff121fa8&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1510797215324-95aa89f43c33?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8dee688d0e8cbb8c6c99de58f22a7dc&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1508781378177-4a8e7e4ef6c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3def72aace43ee4fd572ec0bc31e0c08&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1509149037-37dc57ccbd13?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6db1e4a5e01e475bf6696453376770c5&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1504511045-dc6e5c9bea25?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a88ada821297d024419edbf111a244e7&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="https://images.unsplash.com/photo-1500370414137-9201565cf099?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95e700b9e28eb7ed7b5769c823741126&auto=format&fit=crop&w=500&q=60" class="img-thumbnail">
			</div>
		</div>
	</div>



<script   src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
