img	{
	width: 30%;
	margin: 1.6%;
	float: left;
}

p	{
	font-family: raleway;
	font-weight: 800;
	font-size: 23px;
	margin-left: 1.6%;
	border-bottom: 2px solid #f1f1f1;
	text-transform: uppercase;
	padding-bottom: 20px;
	width: 30%;
}